*filter
:INPUT DROP [0:0]
:FORWARD DROP [0:0]
:OUTPUT ACCEPT [0:0]
-A INPUT -p icmp -j ACCEPT
-A INPUT -i lo -j ACCEPT
-A INPUT -m state --state ESTABLISHED,RELATED -j ACCEPT

### ansible rules start
{% if ip4tables_rules is defined %}
{% if ip4tables_rules|length > 0 %}
{% for rule in ip4tables_rules %}
{% if rule.comment is defined %}
# {{ rule.comment }}
{% endif %}
{{ rule.rule }}
{% endfor %}
{% endif %}
{% endif %}
### ansible rules end

-A INPUT -j REJECT --reject-with icmp-host-prohibited
-A FORWARD -j REJECT --reject-with icmp-host-prohibited
COMMIT
