# default setting area
queue_directory = /var/spool/postfix
command_directory = /usr/sbin
daemon_directory = /usr/libexec/postfix
data_directory = /var/lib/postfix
mail_owner = postfix
mydestination = $myhostname, localhost.$mydomain, localhost
unknown_local_recipient_reject_code = 550
alias_maps = hash:/etc/aliases
alias_database = hash:/etc/aliases
debug_peer_level = 2
debugger_command =
         PATH=/bin:/usr/bin:/usr/local/bin:/usr/X11R6/bin
         ddd $daemon_directory/$process_name $process_id & sleep 5
sendmail_path = /usr/sbin/sendmail.postfix
newaliases_path = /usr/bin/newaliases.postfix
mailq_path = /usr/bin/mailq.postfix
setgid_group = postdrop
html_directory = no
manpage_directory = /usr/share/man
#sample_directory = /usr/share/doc/postfix-2.10.1/samples
#readme_directory = /usr/share/doc/postfix-2.10.1/README_FILES

# config start -----------------
# ホスト名を記述
myhostname = host.{{ host.name }}
mydomain = host.{{ host.name }}
myorigin = $myhostname

# localhostだと自分自信のメールだけ許可
# allだと外部からのメールも受けとる
inet_interfaces = all

# ipv4とipv6どちらも有効に。ipv4だけにしたいならipv4とする
inet_protocols = all

# 色々と許可するセグメント。
# 信頼するインターナルやグローバルIPセグメントなどを記述
mynetworks = 127.0.0.0/8,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16

# 自分が受信するドメイン
mydestination = $myhostname, $mydomain, localhost

#クライアントホスト名/アドレス制限
smtpd_client_restrictions = permit_mynetworks
# ETRN コマンド制限
smtpd_etrn_restrictions = permit_mynetworks
# HELO (EHLO) ホスト名制限
smtpd_helo_restrictions = permit_mynetworks
# Maildir形式
home_mailbox = Maildir/
# SMTP接続を完了するまでの時間
smtp_connect_timeout = 10
# HELO または EHLO コマンドを送り、最初のサーバの応答を受け取るまでのSMTPクライアントの時間制限
smtp_helo_timeout = 30
# SMTP DATA コマンドを送り、サーバの応答を受け取るまでの SMTP クライアントの時間制限
smtp_data_init_timeout = 30
# 配送できないものとして送り返すまでに、メッセージがキューに入っている最大の時間
maximal_queue_lifetime = 7200s
# 配送できないと見なすまでに、バウンスメッセージがキューに入っている最大の時間
bounce_queue_lifetime = 7200s
# サイズ制限 (100MB(デフォルト：100MB))
mailbox_size_limit = 102400000
# HELO コマンドの要求
smtpd_helo_required = yes
# VRFYやEXPNコマンドを無効にする
disable_vrfy_command = yes
# 送信メールの最大サイズ（単位はbyte。0は無制限）(100MB(デフォルト：100MB))
message_size_limit = 102400000
# メール受信時のコマンド実行ユーザを変更 vm環境以外はコメントアウト解除して下さい。
#default_privs = {{ manage_user.name }}
# err-[情報の暗号化した文字列]@[ドメイン]のようなリターンパスであった場合に正規表現で検知してプログラムを起動する
virtual_alias_maps = regexp:/etc/postfix/virtual_maps
local_recipient_maps = regexp:/etc/postfix/virtual_maps
# SMTP サーバによる知らないローカル受信者拒否を無効
local_recipient_maps =
# Dockerコンテナ内からの転送メールを受け取れる設定
resolve_numeric_domain = yes
# config end -------------------
