### ここから WordPress セキュリティ設定
# 最も重要なwp-configの設定。だれからもアクセス出来ないように
<files wp-config.php>
order allow,deny
deny from all
</files>
### ここまで WordPress セキュリティ設定
<files wp-login.php>
order deny,allow
deny from all

# 環境変数「allowed_ip」を設定
SetEnvIf X-Forwarded-For "127.0.0.1" allowed_ip
SetEnvIf X-Forwarded-For "192.168." allowed_ip
SetEnvIf X-Forwarded-For "172.16." allowed_ip

# 本番・検証用設定。自宅と会社のIPを許可
SetEnvIf X-Forwarded-For "61.213.68.235" allowed_ip
SetEnvIf X-Forwarded-For "203.141.150.136" allowed_ip
# アクセス制限(Order deny,allow)
Allow from 127.0.0.1
Allow from env=allowed_ip
</files>


# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
# END WordPress
