-----BEGIN CERTIFICATE-----
MIIDAjCCAeoCCQDrG70iJZquHTANBgkqhkiG9w0BAQsFADBCMQswCQYDVQQGEwJY
WDEVMBMGA1UEBwwMRGVmYXVsdCBDaXR5MRwwGgYDVQQKDBNEZWZhdWx0IENvbXBh
bnkgTHRkMCAXDTE3MTEyMTA3NTAyNVoYDzMwMTcwMzI0MDc1MDI1WjBCMQswCQYD
VQQGEwJYWDEVMBMGA1UEBwwMRGVmYXVsdCBDaXR5MRwwGgYDVQQKDBNEZWZhdWx0
IENvbXBhbnkgTHRkMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAt6Xt
nsm9rqCLR503KxqEr3i1WcTQ0uudS3bUG+jzl/UAenyqfG38ytrf+I5vEHxFR8E9
DNx1e0jLyvmn0XkkjBbvuDtH+bOfy32pw9e8HVjGWX6DuaYUA/thcmBbyTUIvd5t
5hX3rtPK/OOQXsoCp75yg4QDMoUjM6Fcah0Ur8nloamoBQqJ2qKMEUwBT38+zGf3
ze6POhy4DLmHS03AaUVsNBeN9sqX+c+9EU6Fq7+jFTVnXgPR+TLR9rJeiTmS8H+2
SUzVrgo1dBGxnLjS78rmjpZufEBgHfTtKTNydil4zlkv6UJD6ywEIuWV/N3OV4K+
F2MkulgUfOe+JpYIZQIDAQABMA0GCSqGSIb3DQEBCwUAA4IBAQB8NUhepkxnXOkJ
bAR5x7umT1FE2A4pGTgaAJEg0fPCTdOu8b48wGgnmu7HokS04bG2Ze/sOQbbLD9u
rTXP/3zPJlIsGa6RmC5/oFhw/q4Rsa97nX1oMsaJEE/IV50kO42Fmqat6SZSSvys
XtwFKiBjywvs7NGC9Qc9Ym1+Ntwsb1lkyHU1XFAM2sBp69btLUPk74mmETL8UAT2
mAlPvshbROZ2WFyOcPlB2zSB8rRsX0Uaw4wp60br1ofrdBJ01ruhImfpYssVDydU
aYBah23cpwMKWYqcJaXmGPz9gP+UxjzOklKic+wixJaEWQqMwKyDvs2OrDM7Jdsv
wcnzPZ9r
-----END CERTIFICATE-----
