{% if ssh_mail_send == "true" %}
SOURCE_IP=${SSH_CLIENT%% *}
# リストと比較して信頼していないIPからならメール送付
while read line
do
    if [[ $SOURCE_IP =~ $line ]] ; then
      exit 0
    fi
done < {{ ssh_mail_send_trust_list_file }}
TRUST_IP_LIST="{{ ssh_mail.no_ip }}"

echo "\"$USER\" has logged in from $SSH_CLIENT at `date +"%Y/%m/%d %p %I:%M:%S"` to $HOSTNAME " | mail -s "$HOSTNAME sshd login alert" -r root@"$HOSTNAME" root
{% endif %}
